.kaufman__triangle {
  background-image: url("../../../images/triangle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 2;
}
