


/*h1{*/
/*  margin: 0;*/
/*  font-size: 0px;*/
/*}*/


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

a {
  color: #2f80ed;
}

/*div {*/
/*  border: 1px solid red;*/
/*}*/

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.section_padding {
  padding-top: 100px;
  padding-bottom: 100px;
  }

.footer {
  background-color: #1f1f1f;
}








.table__cell_text_paragraph {
  margin: 20px 0 0 0;
}

.kaufman {

}

.theme_dark{
  background-color: #1f1f1f;
  color: #fff;
}

.table__cell.theme_dark {

}
